body {
    margin: 1.5em auto;
    width: 90%;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}

nav,
footer {
    font-family: Arial, sans-serif;
    padding: 0em;
    list-style: none;
    font-weight: bold;
    border-top: 0.1em solid #d5d5d5;
}

nav a,
footer a {
    margin-right: 3em;
    background-color: blanchedalmond;
    border: 4px solid black;
    border-style: outset;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

a {
    text-decoration: none;
    color: black;
}


a.current-page-link {
    color: rgb(255, 255, 255);
    background-color: lightcoral;
}

h1 {
    font-size: 3em;
    font-family: Arial, sans-serif;
}

p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
}

footer {
    padding-top: 1.8em;
    border-top: 0.1em solid #d5d5d5;
    font-size: 0.8em;
}
