---
layout: post
active: blog
spring-docs-url: https://docs.spring.io/spring-framework/docs/current/spring-framework-reference/core.html
pivotal-certification: https://pivotal.io/training/certification
---

<p class="spring-disclaimer">
  <span>Disclaimer:</span>
   This post is based on the official<a href="{{ layout.spring-docs-url }}"> Spring Core documentation</a> and <a href="{{ layout.pivotal-certification }}">Pivotal's Spring Professinal Certification Study Guide</a>. Why combine the two? Because reading documentation without looking for answers is boring, and also: looking for answers without reading the documentation is just stupid. So here we go.</p> 
   
{{ content }}